@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background-color: #1e2028;
    font-family: "Tajawal", sans-serif;
}

main {
    max-width: 1366px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;

}

nav .logo {
    font-size: 2rem;
    color: #564ccf;
}
nav .nav-items {
    list-style-type: none;
    display: flex;
}

nav .nav-items .nav-item {
    padding-left: 2rem;
}

.nav-item  .nav-link {
    text-decoration: none;
    color: #c4c4c4;
    
}

.nav-item .nav-link:hover {
    color: #fdfdfd;
    transition: color 0.3s;
    
}

nav #mobile-toggle {
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.cta {
    font-family: inherit;
    padding: 0.75rem 2rem ;
    border: none;
    color: #fff;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.cta.dark {
    background-color: #252731;
    transition: background-color 0.3s;
    
}

.cta.dark:hover {
    color: #ffffff;
    background-color: #2b2c38
}

.cta.purple {
    background-color: #4940ac;
    transition: background-color 0.3s;
}

.cta.purple:hover {
    background-color: #5a52aa;
}

/*القسم الاساسي*/

.hero {
    height: 66vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 3rem;
    width: 40%;
    text-align : center;
    color: #ffffff;
    margin-bottom: 2rem; 
    
}

.hero h1 span {
    color: #564ccf;
}

.hero .cta.purple {
    margin-left: 1rem;
}

/*الادوات*/

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features h3 {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.features h6 {
    color: #c4c4c4;
    font-size: 1rem;
    margin-bottom: 6rem;
}

.feature h2 {
    color: white;
} 

.feature p {
    color: rgb(175, 173, 173);
    margin-bottom: 4rem;
} 

.feature {

    background-color: #26282f;
    display: flex;
    border-radius : 2rem;
    overflow: hidden;
    margin-bottom: 3rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5)
}

.feature .content {
    padding: 2rem;
    flex: 1;
}

.feature .content i {
    color: #5b4eea; 
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}


.feature .button {
    margin: 0 auto;
    background-color: #5b4eea ;
    display: flex;
}

/*التواصل*/

footer {
    background-color: #252731;
    min-height: 25vh;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer h3 {
    color: white;
    font-size: 1.8rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid gray ;
    width: 100%;
    text-align: center;

}

footer p {
    color: white;
    margin-bottom:1rem ;
    font-size: 1.4rem;
}

footer i {
    color: #fff;
    margin: 1rem;
    font-size: 1.5rem;
    
    
}

footer a {
    text-decoration: none;
    
}

footer a :hover {
    color: #5a52aa;
    transition: color 0.3s;
    
}




@media screen and (max-width : 760px) {

     main {
        max-width: 760px;
    }
    .feature {
        max-width : 300px
    }

    
    nav .nav-items .nav-item{
        font-size: .8rem;
    }
    
    .cta.dark .ono{
        display: none;
    } 
        .hero h1 {
        font-size: 2rem;
        width: 90%;
    }
}



